.k-box {
    width: 100%;
    margin-top: 50;
}

.k-check {
    margin-bottom: 10;
}

.k-pass {
    color: #6A7150;
}

.k-mem {
    color: #6A7150;
}

.k-title {
    color: #6A7150;
}

.k-bu {
    background-color: #6A7150;
    color: white;
}
.ti2 {
    margin-top: 100px;
}