.sec {
    background-color: #6A7150;
    margin-top: 100%;
}

.button {
    color: #6A7150;
}

.butt {
    background-color: #6A7150;
    color: white;
    margin-top: -300;
    display: none;
}

.butt2 {
    background-color: #6A7150;
    color: white;
}
