.k-sec {
    background-color: #6A7150;
    margin-top: 100%;
}

.button {
    color: #6A7150;
}

.k-butt {
    background-color: #6A7150;
    color: white;
    margin-top: -300;
    display: none;
}

.k-butt2 {
    background-color: #6A7150;
    color: white;
}

.k-im-item {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.k-im {
    margin-right: 15px;
}
