<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="gcss.css">
    <link rel="icon" type="image/x-icon" href="book_86345.ico">
</head>

<body>
    <div class="gbox">
        <div class="glogo-text">
            <span>Klinnangsue</span>
            <span>ร้านกลิ่นหนังสือ</span>
        </div>
    </div>
    <div id="app" class="k-box box">
        <div class="k-title title">ลืมรหัสผ่าน</div>
        <div class="k-small is-small">ลืมรหัสผ่าน? กรุณากรอกชื่อผู้ใช้งาน หรืออีเมล เพื่อคุณจะได้รับลิงก์เพื่อสร้างรหัสผ่านใหม่ทางอีเมล</div>
        <div class="k-fe field">
            <label class="label">ชื่อผู้ใช้งาน <font color="red">*</font></label>
            <p class="control has-icons-left">
                <input class="input" type="username" placeholder="ชื่อผู้ใช้งาน" :class="{'is-danger': error.username}" v-model="username" @input="validateUsername()" >
                <span class="has-text-danger">{{error.username}}</span>
            </p>
        </div>
        <div class="k-fe field">
            <label class="label">รหัสผ่านใหม่ <font color="red">*</font></label>
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="รหัสผ่านใหม่" :class="{'is-danger': error.password}" v-model="password" @input="validatePassword()">
                <span class="has-text-danger">{{error.password}}</span>
            </p>
        </div>
        <div class="k-fe field">
            <label class="label">ยืนยันรหัสผ่านใหม่ <font color="red">*</font></label>
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="ยืนยันรหัสผ่าน" :class="{'is-danger': error.confirmpassword}" v-model="confirmpassword" @input="validateConfirmpassword()">
                <span class="has-text-danger">{{error.confirmpassword}}</span>
            </p>
        </div>
        <div class="k-fe field">
            <p class="control">
                <button class="k-bu button">
                    เปลี่ยนรหัสผ่าน
                </button>
            </p>
        </div>
        <div class="level">
            <div class="level-left">
                <a class="k-pass" href="login.html">เข้าสู่ระบบ</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- vue script --------------------------------------->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                username: '',
                password: '',
                confirmpassword: '',
                error: {
                    username: '',
                    password: '',
                    confirmpassword: ''
                }
            },
            methods: {
                validateUsername() {
                    if(this.username === ''){
                        this.error.username = 'กรุณากรอกชื่อผู้ใช้งาน'
                        return
                    }
                    this.error.username = ''
                },
                validatePassword() {
                    if(this.password === ''){
                        this.error.password = 'กรุณากรอกรหัสผ่าน'
                        return
                    }

                    if(this.password.length < 8){
                        this.error.password = 'รหัสผ่านห้ามน้อยกว่า 8 ตัวอักษร'
                        return
                    }

                    if(!isNaN(this.password)){
                        this.error.password = 'ห้ามเป็นตัวเลขทั้งหมด'
                        return
                    }

                    this.error.password = ''
                },
                validateConfirmpassword() {
                    if(this.confirmpassword === ''){
                        this.error.confirmpassword = 'กรุณายืนยันรหัสผ่าน'
                        return
                    }

                    if(this.confirmpassword != this.password){
                        this.error.confirmpassword = 'ยืนยันรหัสผ่านไม่ถูกต้อง'
                        return
                    }

                    this.error.confirmpassword = ''
                }
            }
        })
    </script>
</body>

</html>

